{% extends 'learning_logs/base.html' %}
{% block page_header %}
  <h1>{{topic.text}}</h1>
{% endblock page_header %}
{% block content %}
  <a class="btn btn-danger btn-sm mt-1" href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry &raquo;</a>
  
    {% for entry in entries %}
      <div class="card mb-3">
        <!--card header with timestamp and edit link-->
      <h4 class="card-header">
        {{ entry.date_added|date:'M d,Y H:i' }}
        <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a></small>
      </h4>
        <!--card body ith entry text-->
        <div class="card-body">
          {{entry.text|linebreaks}}</div>
      
    {% empty %}
      <p>there're no entries for this topic yet.</p>
    {% endfor %}
{% endblock content %}